@import 'variables';

.root {
	width: 15%;
	margin: 10px 0 45px;

	@media (--largeViewport) {
		display: none;
	}
}

.wrapper {
	position: sticky;
	top: 10px;
}

.title {
	composes: sectionTitle from 'assets/default/styles';
}
