@import 'variables';

.table {
	& th:nth-of-type(1),
	& td:nth-of-type(1),
	& td:nth-of-type(1) > div {
		text-align: left;
		justify-content: left;
	}

	& th:nth-of-type(2),
	& td:nth-of-type(2),
	& td:nth-of-type(2) > div {
		text-align: left;
		justify-content: left;
	}

	& th:nth-of-type(3),
	& td:nth-of-type(3),
	& td:nth-of-type(3) > div {
		text-align: left;
		justify-content: left;
	}

	& th:nth-of-type(4),
	& td:nth-of-type(4),
	& td:nth-of-type(4) > div {
		text-align: center;
		justify-content: center;
	}

}
