@import 'variables';

.sectionTitle {
	font-smoothing: antialiased;
	color: var(--lightGray);
	font-family: var(--rubik);
	font-size: 14px;
	letter-spacing: .05em;
	text-transform: uppercase;
}

.symbol {
	display: inline-block;
	width: .5em;
	height: .5em;
	margin-left: .3em;
}

.showSymbol {
	composes: symbol;
	background-color: var(--blue);
}

.mentorshipSymbol {
	composes: symbol;
	background-color: var(--purple);
	border-radius: 50%;
}

.residencySymbol {
	composes: symbol;
	width: .35em;
	height: .35em;
	background-color: var(--pink);
	transform: rotate(45deg);
}
