@import 'variables';

.root {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 48px;

	& td {
		vertical-align: top;
	}
}

.row {
	background-color: var(--white);
	font-smoothing: antialiased;
	font-size: 20px;
	cursor: pointer;

	@nest .row + & {
		border-top: 6px solid var(--offWhite);
	}

	@nest .detailsRow + & {
		border-top: 6px solid var(--offWhite);
	}
}

.rowCell {
	padding: 20px 10px;

	&:first-of-type {
		padding-left: 20px;

		@nest .row:hover & {
			text-decoration: underline;
			text-decoration-skip: ink;
			text-decoration-color: var(--blue);
		}
	}

	&:last-of-type {
		padding-right: 20px;
	}
}

.detailsRow {
	background-color: var(--white);
	font-size: 16px;
}

.detailsRowCell {
	padding: 0 20px 20px;
}

.detailsLine {
	margin: 0;
	border: 0;
	border-top: 1px solid var(--offWhite);
}

.header {
	composes: sectionTitle from 'assets/default/styles';
	user-select: none;
}
