:root {
	/* COLORS  */
	--white: #FFFFFF;
	--offWhite: #F5F5F5;
	--lightGray: #BFBFBF;
	--darkGray: #8F8F8F;
	--black: #222222;

	--green: #43A047;

	--lightBlue: #E3F2FD;
	--blue: #2196F3;
	--darkBlue: #1976D2;

	--purple: #9C27B0;

	--pink: #EC407A;

	/* FONTS */
	--fontColorDark: var(--black);
	--defaultFontSize: 16px;
	--rubik: 'Rubik', system-ui, sans-serif;
	--sourceSans: 'Source Sans Pro', system-ui, sans-serif;

	/* SIZES */
	--defaultPadding: 12px;
	--containerWidth: 960px;

	--smallWidth: 550px;
	--mediumWidth: 768px;
	--largeWidth: 1280px;
}

@custom-media --smallViewport (max-width: 550px);
@custom-media --mediumViewport (max-width: 768px);
@custom-media --largeViewport (max-width: 1280px);
