@import 'variables';

.root {
	display: flex;
	justify-content: space-between;
}

.information {
	padding-top: 20px;
	padding-right: 20px;
	flex-basis: 75%;
}

.eligibility  {
	padding-top: 20px;

	padding-left: 20px;
	flex-basis: 25%;
	border-left: 1px solid var(--offWhite);
}

.sectionTitle {
	composes: sectionTitle from 'assets/default/styles';
}

.detail {
	& + .detail {
		margin-top: 1em;
	}
}

.list li {
	position: relative;
	margin-left: 1rem;

	&::before {
		content: '– ';
		position: absolute;
		left: -.875rem;
	}
}

.title {
	margin: 0 0 .2em 0;
	font-weight: bold;
	font-size: 16px;
	font-smoothing: antialiased;
}

.text {
	margin: 0;
}

