@import 'variables';

.root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.contentContainer {
	width: 100%;
	max-width: calc(var(--containerWidth) + 20px);
	padding: 0 10px;
	margin: 0 auto;
}

.content {
	display: flex;
	flex-wrap: wrap;

	@media (--largeViewport) {
		flex-direction: column;
	}
}
